.divC {
    display:flex;
    align-items: center !important;
    justify-content: center !important;
    margin: 50px;

}

body{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    border-radius: 5px;
}

label{
    font-size: 20px;
    color: black;
}
