.container{
    width: 1200px;
    display: block !important;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.min-height{
    min-height: 75%;
}


/* .column{
    display: block !important;
    flex-direction: column !important;
    justify-content: center;
} */