.navbar {
    display: flex !important;
    justify-content: space-between;
    /* background-color: #fff !important; */
    padding: 1em;
    flex-wrap: wrap;
    align-items: top;
    text-align: top;
    margin-top: 0;
    position: static;
    max-width: max-content;
}

.list {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: top;
}

.item {
    margin-right: 1em;
}

.item a {
    /* color: #FFF; */
    text-decoration: none;
}

.item a:hover {
    color: #FFBB33;
}