.navbar { 

    justify-content: space-between;
    background-color: #fff;
    padding: 1em;
    flex-wrap: wrap;
    align-items: top;
    text-align: top;
}

.list {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: top;  
}

.item {
    margin-right: 1em;
}

.item a {
    color: #FFF;
    text-decoration: none;
}

.item a:hover {
    color: #FFBB33;
}